{% load static %}

<html>
<head>
  <title>Good as New</title>

  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

</head>
<body>
  <div>
    <h1 class="title">
      Good as New
    </h1>
  </div>
  <div>
    <ul class="main-menu center-lr">
      <a href="sale"><li class="menu-item center-lr">Sale</li></a>
      <li class="menu-item center-lr">Purchase</li>
      <li class="menu-item center-lr">Calendar</li>
      <li class="menu-item center-lr">Item Search</li>
      <li class="menu-item center-lr">Customers</li>
      <li class="menu-item center-lr">Performance</li>
    </ul>
  </div>
<body>
